PORT=5000
MONGODB_URI=mongodb+srv://ankit:ankit@cluster0.gastdvy.mongodb.net/?appName=Cluster0
AI_SERVICE_URL=https://civiceye-ai-service.onrender.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=wvsnrojm
CLOUDINARY_API_KEY=173988344655914
CLOUDINARY_API_SECRET=_qhpmYjmwqzdXNjBEIKXsBb49PM
